/*
 * Estilos base de IntraMessenger
 */

:root {
  --im-bg-0: #070909;
  --im-bg-1: #101414;
  --im-phosphor: #8ff58c;
  --im-text: #e7e9df;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--im-bg-0);
  color: var(--im-text);
  font-family: sans-serif;
}
